@import './vendor/codemirror';
@import './vendor/erlang-dark';
@import './vendor/mdn-like';

$orange: rgb(223, 117, 20);

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-blue{
  background: #e1f2fa;
  color: #5992aa;
}

.button-yellow{
  background: #fcebbd;
  color: #af9540;
}

.button-purple{
  background: #ddaeff;
  color: #8156a7;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: lighten($orange, 10%); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/* error message in LoginForm */
.error{
  color: #f04444;
}

/* close icon in Portal */ 
.close{
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
}

/* font-awesome color */
i.fa{
  color: #555;
}



.remove-code{
  float: right
}

.drop-text{
  border-width: 2px;
  border-color: black;
  border-style: dashed;
  border-radius: 4px;
  margin: 30px auto;
  padding: 30px;
  width: 200px;
  transition: all 0.5s;

}

