{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["last 2 versions", "ie >= 11"]
            },
            "useBuiltIns": "usage"
        }],
        "react"
    ],
    "plugins": [
        "transform-commonjs-es2015-modules",
        [ "transform-object-rest-spread", { "useBuiltIns": true } ],
        "transform-function-bind",
        "transform-class-properties"
    ]
  }