{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock head %}


{% block content %}


<!-- Jumbotron -->
<div class="my-jumbotron">
    <div class="heading-wrapper">
        <p class="heading"><i class="fa fa-terminal"></i> Ruiwei Liang</p>
        <p class="side-heading">Full-stack web developer</p>
        <p class="description-text">
        <a href="//github.com/ruiwei777" target="_blank" rel="noreferrer nofollow"><i class="fa fa-github"></i> View Github</a>
        </p>
    </div>
</div>

<div class="container">
  <div>
    <h1>Backend</h1>
    <div class="square-blocks">
        <div class="item-block">
          <div class="img django"></div>
          
            
        </div>
        <div class="item-block">
            <div class="img node"></div>
          
        </div>
        <div class="item-block">
            <div class="img ubuntu"></div>
          
        </div>
    </div>
  </div>


  <div>
    <h1>Frontend</h1>
    <div class="square-blocks">
        <div class="item-block">
          <div class="img react"></div>
          
            
        </div>
        <div class="item-block">
            <div class="img angular"></div>
          
        </div>
        <div class="item-block">
            <div class="img html"></div>
          
        </div>
    </div>
  </div>


  <div>
    <h1>Projects</h1>
    <div class="project-blocks">
      
      <div class="block block-1">
        <a class="safeatnight" href="//safeatnight.cf" target="_blank" rel="noreferrer nofollow">
        </a>
        

      </div>
      
      
      <div class="block block-2">
        <div class="text-wrapper">
          <a href="//safeatnight.cf" target="_blank" rel="noreferrer nofollow"><h2>Safe@Night</h2></a>
          <p>An SMS alter system for night commuters. Users can set up a text message message to send at the set time. It also provides data visualisation for crime stastics in Melbourne by suburb. Implemented with Django, Python Celery, d3js and jQuery.
          </p>
        </div>
      </div>
    </div>

    <div class="project-blocks">
        <div class="block block-1">
        <a class="loc8r" href="//loc8r-ruiwei.herokuapp.com" target="_blank" rel="noreferrer nofollow">
        </a>
        </div>
        <div class="block block-2">
        <div class="text-wrapper">
          <a href="//loc8r-ruiwei.herokuapp.com" target="_blank" rel="noreferrer nofollow" ><h2>loc8r</h2></a>
          <p>A practice Project for MongoDB, Express, Nodejs, Angular 1.5 and Gulp. Users can query locations within 
            a specific range. This is enabled by the location query functionality of MongoDB.
          </p>
        </div>
        </div>
    </div>

    
  </div>




  
</div>

<!-- <div class="content-boxes-wrapper">
    <div class="content-boxes positioner">
        <div class="content-box">
            <h3 class="heading">Backend</h3>
            <p>
                <ul>
                    <li>Django</li>
                    <li>Node & Express</li>
                    <li>Ubuntu, bash</li>
                    <li>Azure</li>
                    <li>RESTful API</li>
                </ul>
            </p>
        </div>

        <div class="content-box">
            <h3 class="heading">Frontend</h3>
            <p>
                <ul>
                    <li>Angular 1.5</li>
                    <li>jQuery</li>
                    <li>SASS, Jade</li>
                    <li>Bootstrap</li>
                </ul>
            </p>
        </div>

        <div class="content-box">
            <h3 class="heading">Projects</h3>
            <p>
                <ul>
                    <li>
                        <a href="https://www.safeatnight.cf" target="_blank" rel="noreferrer nofollow">
                            Safeatnight
                        </a>
                    </li>
                    <li>
                        <a href="https://loc8r-ruiwei.herokuapp.com" target="_blank" rel="noreferrer nofollow">
                            MEAN Practice
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ruiwei777" target="_blank" rel="noreferrer nofollow">
                            Github
                        </a>
                    </li>
                </ul>
            </p>
            
        </div>
    </div> -->
</div>



    
<footer class="positioner">
    <p>&copy; Ruiwei Liang, Melbourne VIC, Australia</p>
</footer>
{% endblock content %}