{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock head %}


{% block content %}


<!-- Jumbotron -->
<div class="my-jumbotron">

    <div class="heading-wrapper">
        
        <p class="side-heading">Ruiwei's Django Project</p>
        <p class="heading">Full-stack web developer, experienced in Django, Node.js, React and Angular</p>
        <div class="description-text">
            <a href="//github.com/ruiwei777" target="_blank" rel="noreferrer nofollow">
            
                <i class="fa fa-github"></i>Github
            
            </a>
        </div>

    </div>

    <img class="jumbotron-bg" src="{% static 'images/stars2.jpg' %}"></img>
</div>

<div class="block block-1">
    <div>
        <h2 class="heading">Server-side Skills</h2>
        <div class="items-block">
            <div class="item">
                <img class="skill-icon" src="{% static 'images/pythondjango.png' %}" width="50" height="50" ></img>
                <p>Django</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/nodejs.png' %}" width="50" height="50" ></img>
                <p>Node.js</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/javaee.png' %}" width="50" height="50" ></img>
                <p>Jave EE</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/restapi.png' %}" width="50" height="50" ></img>
                <p>REST api</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/linux.png' %}" width="50" height="50" ></img>
                <p>Linux</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/git.png' %}" width="50" height="50" ></img>
                <p>Git</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/cloudservice.png' %}" width="50" height="50" ></img>
                <p>Deployment</p>
            </div>
            
        </div>
    </div>
</div>

<div class="block block-2">
    <div>
        <h2 class="heading">Front-end Skills</h2>
        <div class="items-block">
            <div class="item">
                <img class="skill-icon" src="{% static 'images/react.png' %}" width="50" height="50" ></img>
                <p>React</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/angular.svg' %}" width="50" height="50" ></img>
                <p>Angular</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/d3js.png' %}" width="50" height="50" ></img>
                <p>D3.js</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/es6.png' %}" width="50" height="50" ></img>
                <p>ES 6</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/npm.svg' %}" width="50" height="50" ></img>
                <p>NPM</p>
            </div>

            <div class="item">
                <img class="skill-icon" src="{% static 'images/webpack2.png' %}" width="50" height="50" ></img>
                <p>Webpack 2</p>
            </div>
            
            <div class="item">
                <img class="skill-icon" src="{% static 'images/htmlcss.jpg' %}" width="50" height="50" ></img>
                <p>HTML CSS</p>
            </div>

        </div>
    </div>
</div>

<div class="block block-3">
    <div class="project-wrapper">
        <h2 class="heading">Graduate Project: safeatnight</h2>

            <div class="project">
                <div class="project-icon">
                    <!-- <img src="{% static 'images/safeatnight.png' %}" alt=""> -->
                </div>
                
                <div class="project-content">
                    <p>Provides an SMS alert system and data visualisation of crime rate in Victoria Australia.
                    </p>
                    <ul>
                        <li>Responsive for all devices and different resolutions</li>
                        <li>Implemented with Python Django, D3.js, Celery, RabbitMQ and Bootstrap</li>
                        <li>Deployed on Microsoft Azure</li>
                        <li>Team work of our four-student group</li>
                        <li>* Currently shut down due to expired subscription. <a href="//github.com/ruiwei777/safeatnight" rel="noreferrer" target="_blank">Code</a> on Github</li>
                    </ul>
                </div>
            </div>

        
    </div>
</div>

<div class="block block-4">
    <div class="project-wrapper">
        <h2 class="heading">About this website</h2>

            <div class="project">

                <div class="project-content">
                    <p>A preactical project using Django, React, Redux and Webpack 2.
                    </p>
                    <ul>
                        <li>Using mostly vanilla CSS with the elegence of Flexbox</li>
                        <li>The blog is implemented as a SPA, powered by Django-Rest-Framework and React-Redux</li>
                        
                        
                    </ul>
                </div>

                <div class="project-icon">
                    <!-- <img src="{% static 'images/safeatnight.png' %}" alt=""> -->
                </div>
            </div>

        
    </div>
</div>








    
<footer class="positioner">
    <p>&copy; Ruiwei Liang, Melbourne VIC, Australia</p>
</footer>
{% endblock content %}