
/*--------------
  General Setting
--------------*/
body{
  margin: 0;
  font-family: sans-serif;
  word-break: break-all;
}

.p{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.p:visited{
  color: initial;
}

.p:-webkit-any-link{
  color: initial;
}

.p:link{
  color: initial;
}

.btn{
  font-family: inherit;
  font-size: 1em;
  padding: .5em 1em .5em;
  color: #444;
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.btn.disabled{
  cursor: not-allowed;
}

.btn.btn-view{
  background-color: #489acc;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn.btn-success{
  background-color: #61d561;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn.btn-orange{
  color: #fff;
  background-color: #ffc16a;
  border-color: #ffc16a;
}

.btn.btn-danger{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  box-shadow: none;
}

.btn.btn-secondary{
  color: white;
  background-color: rgb(66, 184, 221);
}

.btn.btn-trans-white{
  background-color: transparent;
  border: 1px solid white;
  color: white;
}


.btn:hover{
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.btn.btn-trans-white:hover{
  background-image: none;
  background-color: dodgerblue;
  border-color: dodgerblue;
}


/*-----------------
  Top Login Button nav
-----------------*/

.credential-wrapper{
  font-size: .8em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.credential-wrapper .btn{
  float: right;
  margin-left: 1em;
  font-size: 1em;
  flex: 0 0 auto;
  cursor: pointer;
}

.credential-wrapper .btn-login{
  background-color: #29bbff;
  color: white;
}

.credential-wrapper .btn-logout{
  background-color: #29bbff;
  color: white;
}

.credential-wrapper .usertext{
  float:right;
  color: #bbbbbb;
  margin: 0;
  height: 100%;
}


/*-------------------
    Page Layout
-------------------*/
.grid-container{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 25% 1fr;
  grid-template-areas:"header credential-bar"
                      "header article"
                      "header footer"
  ;
}


@media(max-width: 980px){
  .grid-container{
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "header" "credential-bar" "article" "footer";
  }
}


.grid-container > .header{
  grid-area: header;
  background-color: rgb(56,89,112);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em .5em;

}


@media(min-width: 981px){
  .grid-container > .header{
    position: fixed;
    height: 100vh;
    width: 25%;
    text-align: right;
    padding: 0 2em 0 2.5em;
  }
}


.grid-container > .header > .header-wrapper > *{
  margin : 0;
}

.grid-container > .header .brand-title{
  text-transform: capitalize;
  color: white;
  font-size: 2em;
}

.grid-container > .header .brand-tagline{
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.grid-container > .credential-bar{
  grid-area: credential-bar;
}




/* navlinks in sidebar */
.nav > .nav-list{
  padding: 0;
}


.nav > .nav-list > .nav-item{
  list-style: none;
  display: inline-block;
}


.nav-item > a{
  display: inline-block;
  margin-top: .5em;
  margin-left: .5em;
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
  padding: .5em 1em;
  text-decoration: none;
}

.grid-container > .header .nav li a.active, .grid-container > .header .nav li a:hover{
  border-color: rgb(61, 146, 201);;
}
/* .header end */


.grid-container > .article{
  grid-area: article;
  padding: 1em 2em 2em;
  position: relative;
}

.posts .content-subhead{
  text-transform: uppercase;
  color: #aaa;
  max-width: 960px;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

/* .article end */

.grid-container > .footer{
  grid-area: footer;
  padding: 2em 0;
}

.grid-container > .footer > nav{
  display: flex;
  justify-content: center;
}

.grid-container > .footer ul{
  margin: 0; 
  list-style: none;
}

.grid-container > .footer ul li a{
  text-decoration: none;
  color: #ccc;
  font-size: .8em;
  padding: .8em;
}
/* .footer end */
