@import './vendor/codemirror';
@import './vendor/erlang-dark';

$orange: rgb(223, 117, 20);

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-blue{
  background: #e1f2fa;
  color: #5992aa;
}

.button-yellow{
  background: #fcebbd;
  color: #af9540;
}

.button-purple{
  background: #ddaeff;
  color: #8156a7;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: lighten($orange, 10%); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.debug-info.content-head{
  font-size: 1em;
  color: #999;
}

.remove-code{
  float: right
}