html{
	font-size: 100%;
	font-family: sans-serif;
}

body{
	min-height: 100vh;
	font-size: 100%;
	color: #2d3e50;
}

.navbar{
	border-radius: 0
}



.positioner{
	max-width: 80vw;
	margin: 0 auto;
}

@media (max-width: 768px){
	.positioner{
		max-width: 95vw;
	}
}

.navbar.navbar-default{
	margin: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;

	font-size: 1.4em;
}



footer > p {
	text-align: right;
}

.clear-fix{
	clear:both;
}

