*{

	font-family: 'Montserrat',sans-serif;
}

html{
	font-size: 100%;
}

body{
	min-height: 100vh;
	font-size: 100%;
	margin: 0;
}



/*------------------------
	Custom Navbar
  -------------------------*/
nav{
	background-color: rgba(0,0,0,0);
	color: white;
	font-size: 1rem;

	position:absolute;
	left: 0;
	right:0;
	top:0;
	z-index: 102;
	transition: all 0.2s ease-in-out;
	color: #f3f3f3;
	padding: 0;
}

@media (max-width: 768px){
	nav{
		font-size: .7rem;
		height: auto;
		padding: 1em 0 1em;
	}
}


nav.nav-fixed{
	position: fixed;
	background: white;
	color: #282828;
	border-bottom: 1px solid #dddddd;
	padding: .1em 0 .1em;
}

nav.nav-fixed ul li a{
	color: #282828;
}

nav.nav-fixed ul li a:hover{
	color: dodgerblue;
}

nav ul li{
	float:left;
	list-style: none;
	text-align: center;
	margin:0;
	padding: 0;
}

nav ul li a{
	color: #f3f3f3;
	font-size: 1em;
	padding: .5em 0 .5em 1em;
	line-height: 1.5em;
	letter-spacing: 0;
	text-transform: uppercase;

}

nav a{
	color: white;
	text-decoration: none;
}

nav a:hover{
	color: deepskyblue;
}


nav .positioner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .logo > img{
	width: 50px;
	max-width: 100%;
	height: auto;
}

nav #username{
	cursor: default;
	text-transform: capitalize;
}





/*------------------------End of Navbar*/

.positioner{
	max-width: 80vw;
	margin: 0 auto;
}

@media (max-width: 768px){
	.positioner{
		max-width: 95vw;
	}
}

footer > p {
	text-align: right;
}

.clear-fix{
	clear:both;
}

