
/*-----------------
	my-jumbotron
-----------------*/
.my-jumbotron{
	font-size: 1rem;
	overflow: hidden;
	position:relative;
	color: #ffffff;

	height: 60vh;
	display:flex;
	align-items:center;
	justify-content:center;
}



@media (max-width: 768px){
	.my-jumbotron{
		font-size: .7rem;
		height: auto;
		padding: 2em 0;
	}
}

@media (max-width: 450px){
	.my-jumbotron{
		font-size: .4rem;
		height: auto;
		padding: 2em 0;
	}
}

.jumbotron-bg{
	z-index: -1;
	position: absolute;
	min-height: 100%
	max-width: 100%;
	top: 0;
}

.heading-wrapper{
	text-align: center;
	max-width: 60%
}



.heading-wrapper p{
	margin: 0;
	line-height: 1.1;
}

.my-jumbotron .heading{
	font-size: 2em;
	font-family: Exo;
	letter-spacing: 2px;
	
	margin: 20px 0 30px;

}

.my-jumbotron .side-heading{
	font-size: 1.5em;
	text-transform: capitalize;
	font-family: "Ubuntu Condensed", arial, sans-serif;
}

.my-jumbotron .description-text a{
	font-size: 1em;
	color:#ffffff;
	pointer: cursor;
	padding: .5em 1em;
	border-radius: .5em;
	border-color: #ffffff;
	border-width: 2px;
	border-style: solid;
	display: inline-block;
}

.my-jumbotron .description-text a:hover{
	color:black;
	background-color: deepskyblue;
	border-color: deepskyblue;
}





/* Projects */
.project-blocks{
	margin: 20px;
}

.project-blocks .block{
	float:left;
	text-align: center;
}

.project-blocks:after{
	content:'';
	display: block;
    clear: both;
}

.project-blocks .block-1{
	padding: 10px;
	width: 35%;
	height: 250px;

	display:flex;
	justify-content:center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
}

.project-blocks .block-2{
	width: 64%;
}

.project-blocks .block .text-wrapper{
	margin: 15px 30px;
	text-align: left;
}

.project-blocks .block .text-wrapper p{
	font-size: 1.5em;
}



.safeatnight{
	flex: 1 0 auto;
	background-image: url("../images/safeatnight.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 98%;
}

.loc8r{
	flex: 1 0 auto;
	background-image: url("../images/loc8r.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 98%;
}


/*************
		Blocks
*************/

.block.block-1{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: rgba(239,239,239,1);
	height: 30vh;
}

.block.block-2{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 30vh;
}

.block .heading{
	color:#7a7c7d;
	font-size: 2em;
	text-transform: uppercase;
}

.block .items-block{
	display:flex;
	justify-content:center;
	align-items:center;
}

.block .items-block .item{
	margin: .5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.block .items-block .item p{
	text-align: center;
}

@media(max-width: 1000px){
	.block .items-block .item{
		margin: .1em;
	}

		.block .items-block .item p{
		font-size: .6em;
	}
}

.block .items-block .item .skill-icon{
	max-width: 100%;
	display: inline-block;
}

.block.block-2{
	color:#ffffff;
	background-color: rgba(89,89,92,1);
}

.block.block-2 .heading{
	color:#ffffff;
	text-align: right;
}


/* Block 3 */
.block.block-3{
	background-color: rgba(239,239,239,1);
	
}

.block.block-3 .project-wrapper{
	margin: 0 auto;
	width: 65%;
	padding: 1.5em 0;
}

@media(max-width: 1200px){
	.block.block-3 .project-wrapper{
	margin: 0 auto;
	width: 95%;
	padding: .5em 0;
}
}

/* project heading */
.project-wrapper .heading{
	text-align: center;
	font-size: 1.7em;
	margin: 0 0 1em;
	color:#ffffff;
}

.block.block-3 .project-wrapper .heading{
	color: #7a7c7d;
}



.block.block-3 .project{
	display:flex;
	justify-content: center;
	align-items: stretch;
	
}



.block.block-3 .project .project-icon{
	flex: 0 1 30%;
	background-image: url("../images/safeatnight.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.block.block-3 .project .project-content{
	flex: 1 0 0;
	margin-left: 1em;
}


/*---------------
		Block 4
---------------*/
.block.block-4{
	color:#ffffff;
	background-color: rgba(89,89,92,1);
}

.block.block-4 .project-wrapper{
	margin: 0 auto;
	width: 65%;
	padding: 1.5em 0;
}

@media(max-width: 1200px){
	.block.block-4 .project-wrapper{
	margin: 0 auto;
	width: 95%;
	padding: .5em 0;
}
}



.block.block-4 .project{
	display:flex;
	justify-content: center;
	align-items: stretch;
	
}

.block.block-4 .project-wrapper .heading{
	color: #ffffff;
}

.block.block-4 .project .project-icon{
	flex: 0 1 30%;
	background-image: url("../images/react-redux.jpg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

.block.block-4 .project .project-content{
	flex: 1 0 0;
	margin-left: 1em;
}

@media(max-width: 768px){
		.project .project-content{
		font-size: .7em;
	}
		.block .heading{
			font-size: 1em;
		}

		.project .heading{
			font-size: 1em;
		}
}