// General Settings

.img-responsive
  display: block
  max-width: 100%
  height: auto

.img-responsive.reverse
  max-height: 150px
  width: auto



.post-category
  margin: 0 0.1em
  padding: 0.3em 1em
  color: #fff
  background: #999
  font-size: 80%

.post-category-design
  background: #5aba59

.post-category-pure
  background: #4d85d1

.post-category-js
  background: #df2d4f

.word-break
  /* These are technically the same, but use both */
  overflow-wrap: break-word
  word-wrap: break-word

  -ms-word-break: break-all
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all
  /* Instead use this non-standard one: */
  word-break: break-word

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto


// --General Settings


// Post 
.post:after
  display: block
  content: ''
  height: 2px
  margin-top: 2em
  margin-bottom: 4em
  background-color: #dddddd
  max-width: 768px

.post-header
  margin: 0 0 1em

  & .post-avatar
    border-radius: 50px
    float: right
    margin-left: 1em

  & .post-title
    font-size: 2em
    color: #222
    margin-bottom: 0.2em

  & .post-meta
    color: #999
    font-size: 90%
    margin: 0

    & > .post-author
      text-decoration: none
      color: rgb(61, 146, 201)


.post-cover
  margin: 0 0 2em


.post-description
  color: #444
  line-height: 1.8em
  margin: 0 0 3em

  p
    margin: 0 0 1em
    








