/*Mounted by post_home.html*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*--------------
  General Setting
--------------*/
body{
  margin: 0;
  font-family: "Rubik", sans-serif;
}

@media(max-width: 768px){
  body{
    font-size: .8em;
  }
}

p{
  font-weight: lighter;
}

.btn{
  font-family: inherit;
  font-size: .8em;
  padding: 6px 12px;
  color: #444;
  color: #6dc9ff;
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 1.42857143;
}

.btn.btn-view{
  background-color: #29bbff;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn.btn-success{
  background-color: #5cb85c;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover{
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

/*--------------------
  Login View
--------------------*/
.login-view{
  display: none;
}

.login-view.active{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color: rgba(0,0,0,.6);
}

.login-window{
  background: white;
  text-align: center;
  border-radius: .5em;
  padding: 0
}

.login-window .button-wrapper{
  text-align:center;
  padding: 0;
}

.login-window .button-wrapper:after{
  display:table;
  content:'';
  clear: both;
}


.login-window .button-wrapper .form-close{
  text-align:center;
  background: none;
  font-size: .8em;
  color: #333333;
  cursor: pointer;
  border-radius: 0 .5em 0 0;
  float: right;
}

.login-window .button-wrapper .form-close:hover{
  background-color: #dddddd;
}

.login-window .form-header{
  font-size: 1em;
  font-weight: lighter;
  margin: 0 0 1em;
}

.login-window .form-wrapper{
  padding: 0 4em 2em;
}

.login-window input{
  width: 100%;
}

.login-form .btn-submit{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.login-form .btn-clear{
  margin-left: 1em;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.login-window .login-error{
  color: rgb(255, 51,51);
  margin-bottom: 1em;
  font-size: .8em;
  display: none;
}

.login-window .login-error.active{
  display: block;
}


/*-----------------
  Top Login Button nav
-----------------*/

.credential-wrapper{
  font-size: .8em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.credential-wrapper .btn{
  float: right;
  margin-left: 1em;
  font-size: .8em;
  flex: 0 0 auto;
  cursor: pointer;
}

.credential-wrapper .btn-login{
  background-color: #29bbff;
  color: white;
}

.credential-wrapper .btn-logout{
  background-color: #29bbff;
  color: white;
}




.credential-wrapper .usertext{
  float:right;
  color: #bbbbbb;
  margin: 0;
  height: 100%;
}






/*-------------------
    Page Layout
-------------------*/
.grid-container{
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 20em 1fr;
  grid-template-areas:"header article"
                      "header footer"
  ;
}


@media(max-width: 980px){
  .grid-container{
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "header" "article" "footer";
  }
}


.grid-container > .header{
  grid-area: header;
  background-color: rgb(61,79,93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em .5em;

}


@media(min-width: 981px){
  .grid-container > .header{
    position: fixed;
    height: 100vh;
    width: 20em;
    text-align: right;
    padding: 0 1.5em 0 1em;
  }
}


.grid-container > .header > .header-wrapper > *{
  margin : 0;
}

.grid-container > .header .brand-title{
  text-transform: uppercase;
  color: white;
  font-size: 2.5em;
  font-style: italic;
}

.grid-container > .header .brand-tagline{
  font-weight: 300;
  color: rgb(176, 202, 219);
  font-size: 1.2em;
}

@media(max-width: 980px){
  .grid-container > .header .nav ul{
    display: flex;
    padding: 0;
    justify-content: space-around;
  }
}


.grid-container > .header .nav li{
  list-style: none;
}


.grid-container > .header .nav li a{
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  line-height: 1.5;
}

.grid-container > .header .nav li a:hover{
  text-decoration: underline;
}
/* .header end */

.grid-container > .article{
  grid-area: article;
  margin: 2em auto 0;
  max-width: 80%;
  width: 100%;
}

@media(max-width: 768px){
  .grid-container > .article{
    max-width: 95%;
  }
}

.posts .content-subhead{
  text-transform: uppercase;
  color: #aaa;
  max-width: 960px;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

/* .article end */

.grid-container > .footer{
  grid-area: footer;
  padding: 2em 0;
}

.grid-container > .footer > nav{
  display: flex;
  justify-content: center;
}

.grid-container > .footer ul{
  margin: 0; 
  list-style: none;
}

.grid-container > .footer ul li a{
  text-decoration: none;
  color: #ccc;
  font-size: .8em;
  padding: .8em;
}
/* .footer end */