.main-heading{
  margin: 1em 0 .5em;
}

.positioner{
  max-width: 40%;
  margin: 0 auto;
}

@media(max-width: 1366px){
  .positioner{
  max-width: 60%;
  
  }
}

@media(max-width: 768px){
  .positioner{
  max-width: 95%;
  
  }
}



.post-item{
  background: rgba(255, 255, 255, .8);
  padding: 1.5em 1.5em;
  border-radius: .5em;
  margin-bottom: 2em;
}



.post-title{
  /* background-color: rgba(255,255,255,.9);
  padding: .5em;
  border-radius: 10px; */
  font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-publish{
  font-size: .5em;
  color: rgba(120,120,120,1);
}

.post-meta{
  margin: 0;
  font-size: 90%;
  color: #999;
}

.post-content{
  font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}


