/* top credential bar */
.credential-bar{
  background-color: #1f8dd6;
  padding: .2em 4em;
  color: white;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .btn{
    margin-left: 1em;
    font-size: .8em;
  }

  a{
    margin-left: 1rem;
    color: #eeeeee;
    &:hover{
      color: #dddddd;
    }
  }

  .username{
    color: #1fd6c4;
  }

  .logout{
    margin-left: 2rem;
    font-size: .8em;
  }

  .register{
    & > a{
      margin: 0;
      text-decoration: underline;
    }

    font-size: .8em;
    margin-left: 1rem;
  }
}
  

